@import 'vendor/reset';
@import 'vars';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow-y: scroll;
}

.wrapper {
    font-family: 'Ubuntu', 'Roboto', Helvetica, sans-serif;
    font-size: 15px;
    max-width: 1170px;
    margin: 0 auto;
    padding: 15px;
}

.section {
    &__title {
        text-align: center;
        font-size: 30px;
        margin-bottom: 40px;
    }
}

.form {
    margin-bottom: 20px;
    &__label {
        font-size: 18px;
    }

    &__input {
        border: 1px solid #eee;
        padding: 5px 10px;
        font-size: 18px;
        border-radius: 5px;
    }
}

.table {
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    overflow: hidden;

    &__wrapper {
        border-radius: 10px;
        overflow-x: auto;
        box-shadow: 0 0 10px rgba(#000, 0.3);
    }

    &__cell {
        padding: 10px;
        text-align: left;
        transition: background-color 0.2s linear;

        &--head {
            white-space: nowrap;
            font-weight: 700;
            background-color: #eee;
            cursor: pointer;
            padding: 0;
            &:hover {
                background-color: #ccc;
            }
        }

        &--unknown {
            font-style: italic;
            color: rgba(#000, 0.5);
        }
    }

    &__row {
        transition: background-color 0.2s linear;

        &:hover {
            background-color: #eee;
        }
        &:not(:last-child) .table__cell--body {
            border-bottom: 2px solid #eee;
        }
    }
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    &__item {
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

.btn {
    background: none;
    border: 0;
    padding: 0;

    &__number {
        display: block;
        width: 20px;
        height: 20px;
    }

    &--cell-head {
        text-align: left;
        width: 100%;
        padding: 10px;
    }

    &--pagination {
        border: 1px solid #eee;
        border-radius: 5px;
        padding: 10px;
        transition: background-color 0.2s linear;
        &:hover {
            // box-shadow: 0 0 10px rgba(#000, 0.3);
            background-color: #eee;
        }

        &.active {
            background-color: #eee;
        }
    }
}
