@import 'vendor/reset';
@import 'vars';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow-y: scroll;
}

.wrapper {
    font-family: 'Ubuntu', 'Roboto', Helvetica, sans-serif;
    font-size: 15px;
    max-width: 1170px;
    margin: 0 auto;
    padding: 15px;
}

.section {
    &__title {
        text-align: center;
        font-size: 30px;
        margin-bottom: 40px;
    }
}
